/* CSS Selector */
header
  {
    display:flex;
    
    justify-content: flex-start;
    width:100%;
  }
body {
  /* CSS Declaration {} */

  /* CSS Rule (regel) */
  /* CSS Property = background-color */
  /* CSS Value = aliceblue */
  background-color: white;
  padding: 8px;
  background-color:  #1e1e1e;
  font-family:sans-serif;
  color:rgb(220,220,220);
}

h1
{
  font-size: xx-large;
 padding-bottom:50px;
 
  
}

p{
  color:rgb(220,220,220);
  font-size: 20px;
}

.menyliste
{
   display: flex;
   flex-direction: row;
   list-style-type: none;
   font-size: 30px;
   color:rgb(220,220,220);
   
   gap:16px;

}
.hero {
  display: flex;
  flex-direction: column; /*  legg dette til for senere bruk, denne er default */
  align-items: center; /* vertikal plassering */
  justify-content: center;
  
}

.heroinfocontainer
{
   display:flex;
   flex-direction: row;
   align-items: center;
   gap: 150px;

   
}

.profileimage
{
    width: 350px;

}

.stringdata
{
  color:rgb(214,157,133);
}

.infoliste
{
  color:lightblue;
}
