/* * setter alt */
*{
  box-sizing: border-box;
}

/* HEADER SPECIFIC CLASSES */

header{
    display: flex;
    position: sticky;
    top:0;
    z-index: 10;
    font-family: "Source Sans 3";
    width:100%;
    color:rgb(220,220,220);
    background-color:grey;
    border:12px solid #1e1e1e; 
  
  }

  .menyliste {
   
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 30px;
    gap:40px;
 
 }



/* END HEADER SPESIFIC CLASSES */

/* BODY og MAIN klasser */

body {
 
  /* her kommer det som trengs for å få flex-grow:1 til å fungere */
  
  height:100%;
  margin:0;

  display: flex;
  flex-direction: column;
  min-height: 100vh; 

  /* slutt  for flex-grow:1 */
 
  font-family: "Source Sans 3";
  color:rgb(220,220,220);
  background-color:  #1e1e1e;
  font-family:sans-serif;
}

main {

  flex-grow:1;   /* Se body for mer info */

  
}

.homepagemain {

  background-image: none;
}

.om_main {

  background-image: url("/Images/nybakgrunnblack.png"); 
  /* background-size:contain; */
  background-position:center;
  background-repeat:repeat;
  background-position: 0 130px;
  background-attachment:fixed; 
 

}
.prosjekt_main {
 
  background-image: url("/Images/nybakgrunnblack.png"); 
  /* background-size:cover; */
  background-position:center;
  background-repeat:repeat;
  background-position: 0 130px;
  background-attachment:fixed; 

}
/* FOOTER   */
 
footer{

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  color:rgb(40,40,40);
  text-shadow: 2px;
  padding: 20px;
  border:12px solid #1e1e1e; 
  font-family: "Source Sans 3";
  font-size: 12;
  font-weight: 12;
}


.kodeloftlogofooter {
  width:90px;
}

.diffcolor1{
   color: rgb(220,220,220);
   padding-left:3px;
   padding-right:3px;

}
.diffcolor2{
    color:#ee7031;    /* kodeloftet fargekode */
    padding-left:3px;
    padding-right:3px;
}
/* 
.tekstfooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
 
} */

.kontakt
{
    display: flex;
    gap:20px;
}

.textandicons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 100px;
}

/* END FOOTER SPESIFIC CLASSES  */

h1 {
  font-family: "Source Sans 3";
  font-size: xx-large;
  text-align: center;
  padding-top:0;
  color:white;
}

h2 {
  font-family: "Source Sans 3";
  font-size: x-large;
  text-align: center;
  color:white;
}

a { 
  
  color:lightskyblue;
 
}

li {
  display:flex;
  align-items: center;
  gap: 10px;
}

/* Hero classes */

.hero {
  display: flex;
  flex-direction: column; /*  legg dette til for senere bruk, denne er default */
  align-items: center;
  justify-content: center;
  color:rgb(220,220,220);
  padding-top: 100px;

}


.heroinfocontainer {
   
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;
  
}

.profileimage {
   
 width: 350px;

}

.databaseprogram {

 padding-top:20px;
}

/* Klasser som viser info om meg på Hero siden */


.datrettext
{
  font-family:"Cascadia Mono";
  font-size: 14px;
  color:rgb(214,157,133);
  
}


.datretdiv
{
  display: flex;
  flex-direction: column;
}


.infoliste {

  color:lightskyblue;
  font-family:"Cascadia Mono";
  font-size: 14px;;
 
 }

.stringdata {
 
 font-family:"Cascadia Mono";
 font-size: 14px;
 color:rgb(214,157,133);
 padding-left: 25px;

}

.samletdata {
  display:flex;
  flex-direction: row;
  background-color: #1e1e1e;

 
}


/* Om meg siden sine klasser */

.undermeny {
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.floatingnav {
  
  position: sticky;
  top:80px;
  z-index: 10;
  display: flex;
  justify-content: center;
  

}
.ommegwrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    /* background-color: rgba(0,0,0,0.3); */
}

.emptydiv
{
  background-color: transparent;
}

.ommegdata {
    
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background-color: rgba(0,0,0,0.5); */
}

.standard {
  
  color:white;
  font-family: "Source Sans 3";
  /* color:rgb(220,220,220); */
  width:790px;
  text-align: left;
  background: transparent;
  

}

.atari {
   width: 400px;
   height: 250px;
   border: 2px solid black;   
   
}

.gamlemaskiner
{
  display:flex;
  flex-direction: row;
  justify-content: center;

}

.cbok {
  width:190px;
  background-color: transparent;
}

.bokogtekst {
  display: flex;
  flex-direction: column;
  align-items: center;        /* vertikal plassering */
  justify-content: center;
  
}



.bookdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top:20px;
  padding-bottom: 10px;
  
}

.books {

  width:210px;
  height:320px;
}

.booksandfilms {
 
}


/* Kommende prosjekter klasser */

.logoprosjekt {
   width:150px;
}

.kommendeprosjekter {
  
   text-align: center;
}
