/* * setter alt */
*{
  box-sizing: border-box;
}

/* HEADER SPECIFIC CLASSES */

header{
    display: flex;
    position: sticky;
    top:0;
    z-index: 10;
    font-family: "Source Sans 3";
    width:100%;
    color:rgb(220,220,220);
    background-color:grey;
    border:12px solid #1e1e1e; 
  
  }

  .menyliste {
   
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 30px;
    gap:40px;
 
 }

/* END HEADER SPESIFIC CLASSES */

body {
 
  /* her kommer det som trengs for å få flex-grow:1 til å fungere */
  height:100%;
  margin:0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* slutt  */
 
  font-family: "Source Sans 3";
  color:rgb(220,220,220);
  background-color:  #1e1e1e;
  font-family:sans-serif;

  
  
}

main {
  padding:50px;
  flex-grow:1;
  background-image: url("/Images/bakgrunnuskarp.png"); 
  background-repeat:no-repeat;
  background-attachment:fixed;

   
}

/*   FOOTER   */
 
footer{

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  color:rgb(40,40,40);
  text-shadow: 2px;
  padding: 20px;
  border:12px solid #1e1e1e; 
  font-family: "Source Sans 3";
  font-size: 12;
  font-weight: 12;
}


.kodeloftlogofooter {
  width:90px;
}

.diffcolor1{
   color: rgb(220,220,220);

}
.diffcolor2{
    color:#ee7031;/* kodeloftet fargekode */
}

.tekstfooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
 
}

/* END FOOTER SPESIFIC CLASSES  */

h1 {
  font-family: "Source Sans 3";
  font-size: xx-large;
  text-align: center;
  padding-top:0;
}

h2 {
  font-family: "Source Sans 3";
  font-size: x-large;
  text-align: center;
}

a { 
  
  color:lightskyblue;
 
}

li {
  display:flex;
  align-items: center;
  gap: 10px;
}

.hero {
  display: flex;
  flex-direction: column; /*  legg dette til for senere bruk, denne er default */
  align-items: center;
  justify-content: center;
  color:rgb(220,220,220);
  padding-bottom:100px;

}


.ommegwrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
}

.emptydiv
{
  background-color: transparent;
}

.ommegdata {
    
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
   
}

.heroinfocontainer {
   
   display:flex;
   flex-direction: row;
   align-items: center;
   gap: 150px;
   
}

.profileimage {
    
  width: 350px;

}

.databaseprogram {

  padding-top:20px;
}

.stringdata {
  
  font-family:"Cascadia Mono";
  font-size: 14px;
  color:rgb(214,157,133);
  padding-left: 20px;
}

.infoliste {

  color:lightskyblue;
  font-family:"Cascadia Mono";
  font-size: 14px;;
}

.standard {
  
  font-family: "Source Sans 3";
  color:rgb(220,220,220);
  width:790px;
  text-align: left;
  opacity: 0.5;

}

.atari {
   width: 400px;
   height: 250px;
   border: 2px solid black;   
   
}

.gamlemaskiner
{
  display:flex;
  flex-direction: row;
  justify-content: center;

}

.cbok {
  width:190px;
  background-color: transparent;
}

.bokogtekst {
  display: flex;
  flex-direction: column;
  align-items: center; /* vertikal plassering */
  justify-content: center;
  
}

.samletdata {
    display:flex;
    flex-direction: row;
    background-color: #1e1e1e;
   
}

.logoprosjekt {
   width:150px;
}

.kommendeprosjekter {
   text-align: center;
}
